<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FX5U_IOMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FX5U_IOMonitor.Properties.Settings>
            <setting name="COSValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LanguageSetting" serializeAs="String">
                <value>TW</value>
            </setting>
            <setting name="senderEmail" serializeAs="String">
                <value>itrid400itri@gmail.com</value>
            </setting>
            <setting name="senderPassword" serializeAs="String">
                <value>wmfisqognlhnhcsc</value>
            </setting>
            <setting name="Gmail_SMTP_server" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="TLS_port" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="Gmail_SMTP_server1" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="NotifyTime" serializeAs="String">
                <value />
            </setting>
            <setting name="userDefinedNotifyTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="UnitSetting" serializeAs="String">
                <value>Metric</value>
            </setting>
        </FX5U_IOMonitor.Properties.Settings>
    </userSettings>
</configuration>