<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FX5U_IOMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FX5U_IOMonitor.Properties.Settings>
            <setting name="COSValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LanguageSetting" serializeAs="String">
                <value>TW</value>
            </setting>
            <setting name="senderEmail" serializeAs="String">
                <value>webform@mechalogix.com</value>
            </setting>
            <setting name="senderPassword" serializeAs="String">
                <value>jvvswkymcyokcvug</value>
            </setting>
            <setting name="Gmail_SMTP_server" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="TLS_port" serializeAs="String">
                <value>465</value>
            </setting>
            <setting name="Gmail_SMTP_server1" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="userDefinedNotifyTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="UnitSetting" serializeAs="String">
                <value>Metric</value>
            </setting>
            <setting name="LineAccessToken" serializeAs="String">
                <value>5e3yIPf5bcbSJh4ebTs45xAgRsCKj6oj9M8GsCIOMbp4Oadrv1YZpt7WsY1kqk4AXmz8nfGzC9tRH8KvgmQWsXu0AXWh5BiMiJ6FU+YqeOi9duMvYv5yiLMAmlqxkFyvhT5ZwREsBVY/xuYIU05EyAdB04t89/1O/w1cDnyilFU=</value>
            </setting>
            <setting name="LineImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="NotifyTime" serializeAs="String">
                <value />
            </setting>
        </FX5U_IOMonitor.Properties.Settings>
    </userSettings>
</configuration>